- if books.blank?
  %p
    - if genre.present?
      = "No books exist for the genre \"#{genre}.\""
    - else
      No books exist.
- else
  %table.table.table-bordered
    %thead
      %th #
      %th Title
      %th Author Name
      %th Genre
      %th ISBN
    %tbody
      - books.each do |book|
        %tr
          %td= book.id
          %td= book.title
          %td= book.author_name
          %td= book.genre
          %td= book.isbn_13
      - if pagy.pages > 1
        %tr
          %td{colspan: 5}
            != pagy_bootstrap_nav(pagy)
